# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build
dist/
client/dist/

# Environment
.env
.env.local
.env.*.local

# Database
*.sqlite
*.sqlite-journal

# IDEs
.vscode/
.idea/

# Vercel
.vercel

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
